body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
/*.container{
max-width: 1170px;
margin: auto;
width: 100%;
}*/
.header{
background-color: grey;
}
.header__wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo{
	width: 130px
}
.header__nav ul{
display: flex;
list-style: none;
gap:18px;

}

.header__nav{
	margin-right: 100px;
}

.header__nav-item a {
	font-weight: 700;
	color: black;
	text-decoration: none;
	font-size: 22px;
	transition: color 0.4s;
}
.header__nav-item a:hover {
	color: pink;
}

.main {
	padding: 22px 0;
}

.main__wrapper{
	display: flex;
	gap: 1%;
}

.content, .sidebar{
	border: 2px solid brown;
	padding: 10px;
}

.content{
	border: 1px solid brown;
	width:49%;
}

.sidebar{
	border: 1px solid black;
	width:50%;
}
.article__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color:black;
	transition: transform 2s;
} 

.sidebar img{
	width: 100%;
}
.article__wrapper:hover img{
	transform:scale(1.1);
}
footer{
	background-color: grey;
	padding: 20px;
	text-align: center;
}